.main-comp{
    background-image: url("https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    position: fixed;
    background-size: cover;
    background-position:center;
    min-width: 100%;
    min-height: 100%;
    }